body{
      background-color: var(--surface-main);
      color: var(--text-main);
      overflow: hidden;
}

@media screen and (max-width: 768px) {
      header {
            padding: 1.5rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid antiquewhite;
      }
      
      #nav{
            display: none;
      }
      .dropTrigger{
            appearance: none;
            width: 8vw;
            height: 8vw;
            
            background-color: black;
            background-image: url("./assets/menu.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 20px;
            border: none;
      }
      .dropTrigger:checked{
            background-image: url("./assets/reject.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;

      }
      .dropdownMenu{
            display: flex;
            flex-direction: column;
            gap: 0rem;
            position: absolute;
            top: 100px;
            left: 0.1px;
            background-color: black;
            width: 100vw;
            height: 100dvh;
      }
      .dropdownMenu button{
            width: 100%;
            height: 10%;
            text-align: left;
            padding-left: 10px;
            background-color: black;
            color: white;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            border-left: none;
      }
      
      main{
            display: grid;
            grid-auto-flow: auto;
            overflow: hidden;
      }
      .display{
            margin: 2rem 1rem 2rem;
            background-color: white;
            border-radius: 1rem;
            color: black;
            display: flex;
            align-items: center;
            padding: 1rem;
            height: 50%;
            font-size: 2rem
      }
      section{
            height: 90px;
            background-color: orange;
      }
      
      .buttonGroup button{
            padding: 1rem;
            height: 4em;
            width: 100%;
            height: 10vh;
            border-radius: 1rem;
      }
      .bg{
            display: flex;
            flex-direction: row;
      }
      .calculate{
            background-color: orange;
      }
      #operation{
            background-color: bisque;
      }
}

@media only screen and (min-width: 769px) {
      header {
            padding: 1.5rem 2rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid antiquewhite;
      }
      #profile{
            background-color: black;
            color: white;
            border: none;
      }
      .nav h4{
            font-weight: normal ;
      }
      .dropdownMenu{
            display: none;
      }
      .dropTrigger{
            display: none;
      }
      main{
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-rows: 150px;
            grid-template-areas: 
            "side dis"
            "side btn";
            gap: 2rem;  
      }
      section{
            grid-area: side;
            height: 80dvh;
            width: 30vw;;
            margin: 1rem;
            background-color: orange;
      }
      #nav{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
      }
      .display{
            margin: 2rem 1rem 2rem;
            background-color: white;
            border-radius: 1rem;
            color: black;
            padding: 1rem;
            height: 70%;
            width: 40vw;
            justify-self: center;
            font-size: 2rem;
            display: flex;
            align-items: center;
            grid-area: dis;
      }
      .buttonGroup{
            width: 40vw;
            height: 60vh;
            border: 1px solid white;
            justify-self: center;
            grid-area: btn;
      }
      .buttonGroup button{
            padding: 1rem;
            width: 10vw;
            height: 11vh;
            border-radius: 0.5rem;
            cursor: pointer;
      }
      .bg{
            display: flex;
            flex-direction: row;
            justify-content: center;
      }
      .calculate{
            background-color: orange;
      }
      #operation{
            background-color: bisque;
      }
}

