*, *::before, *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

/* 2. Prevent font sizes from changing after orientation changes in iOS */
html {
      html { -webkit-text-size-adjust: 100%; }
}

/* 3. Setup core body defaults */
body {
      min-height: 100dvh;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 4. Make images easier to work with */
img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
}

/* 5. Design tokens / Global Variables */
:root {
      --brand-primary: orange;
      --surface-main: #000000;
      --text-main: #ffffff;
}